@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color: #CEF6F5;">
    <div class="text-center">
        <br />
        <br />
        <h1 style="font-size:100px; color:black" class="display-4"> Back up to the 
        <br />Front</h1>
        <br />

        <a style= "height: 50px; width: 130px; font-size:20px; text-align: center" class=" btn btn-success"  asp-area="" asp-controller="Donations" asp-action="Create">Donate</a>
    </div>
        </body>
