@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color: #CEF6F5;">
    <div class="text-center">
        <br />
        <br />
        <h1 style="font-size:100px; color:black" class="display-4"> Back up to the 
        <br />Front</h1>
        <br />

        <button style= "height: 80px; width: 150px; font-size:20px; "class=" btn btn-success">Donate</button>
    </div>
        </body>
