@model ENTPROG_FINALS.Models.Beneficiary

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Beneficiary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BeneficiaryID" />
            <div class="form-group">
                <label asp-for="Beneficiaries" class="control-label"></label>
                <input asp-for="Beneficiaries" class="form-control" />
                <span asp-validation-for="Beneficiaries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decsription" class="control-label"></label>
                <input asp-for="Decsription" class="form-control" />
                <span asp-validation-for="Decsription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationSummary" class="control-label"></label>
                <input asp-for="DonationSummary" class="form-control" />
                <span asp-validation-for="DonationSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContacNo" class="control-label"></label>
                <input asp-for="ContacNo" class="form-control" />
                <span asp-validation-for="ContacNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
