@model IEnumerable<ENTPROG_FINALS.Models.Donation>

@{ }

<body style="background-color: #CEF6F5;">
    <div class="text-center">
        <br />
        <br />
        <h1 style="font-size:100px; color:black; font-style:italic" class="display-4">
            Certificate of donation
            <br />
            <br />
            <br />
            This Certificate is awarded to
            <br />
            <!--@Model-->
            , As a thank you for the
            <br />
            donation of  To
            <br />
        </h1>
        <br />

        <a asp-action="List" class="btn btn-danger">Back to List</a>
    </div>
</body>
