@model ENTPROG_FINALS.Models.Donation
@inject ENTPROG_FINALS.Data.ApplicationDbContext _context;

@{ ViewData["Title"] = "Certificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var beneficiaryList = _context.Beneficiaries.ToList(); }
<body style="background-color: #CEF6F5;">
    <div class="text-center">
        <br />
        <br />
        <input type="hidden" asp-for="DonationID" />
        <h1 style="font-size:100px; color:black; font-style:italic" class="display-4">
            CERTIFICATE OF DONATION
        </h1>
        <br />
        <br />
        <br />
        <h3>This certificate is awarded to</h3>
        <h3> @Model.FirstName</h3>
        <h3> as a thank you for </h3>
        <h3>the donation of @Model.DonationAmount to @Model.Beneficiary.Beneficiaries</h3>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div>
            <a asp-action="List" class="btn btn-danger">Back to List</a>
        </div>
    </div>
</body>
