@model ENTPROG_FINALS.Models.Donation
@inject ENTPROG_FINALS.Data.ApplicationDbContext _context;

@{ ViewData["Title"] = "Certificate";
    var beneficiaryList = _context.Beneficiaries.ToList(); }

<body style="background-color: #CEF6F5;">
    <div class="text-center">
        <br />
        <br />
        <input type="hidden" asp-for="DonationID" />
        <hr />
        <h1 style="font-size:90px; color:black; font-family: 'Monotype Corsiva'" class="display-4">
            CERTIFICATE OF APPRECIATION
        </h1>
        <hr />
        <br />
        <br />
        <h1 style="font-style: italic; color: black;" class="align-content-md-center">THIS CERTIFICATE IS PROUDLY AWARDED TO</h1>
        <br />
        <h1 style="font-style: italic; color: black; text-decoration: underline "> @Model.FirstName</h1>
        <h1 style="font-style: italic; color: black;">FOR THE DONATION OF @Model.DonationAmount PESOS TO @Model.Beneficiary.Beneficiaries</h1>
        <p style="font-size:200px; color:darkgoldenrod" class="fa fa-certificate"></p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div>
            <a asp-action="List" class="btn btn-danger">Back to List</a>
        </div>
    </div>
</body>
